:root.dark {
  --body-bg-color: #282c35;
  --block-bg-color: #282c35;
  --nav-text-color: #ffffffd9;
}

:root.light {
  --body-bg-color: #e7eaee;
  --block-bg-color: #fff;
  --nav-text-color: rgba(0,0,0,.85)
}