.text-lines(@lineNum) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @lineNum;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.border-box(@boxstyle: border-box) {
  box-sizing: @boxstyle;
}
.z-index(@index: 1) {
  z-index: @index;
}